// app global css in SCSS form
@font-face {
  font-family: IBMPlexMono-Bold;
  src: url(./fonts/IBMPlexMono-Bold.woff);
}

@font-face {
  font-family: IBMPlexMono-Regular;
  src: url(./fonts/IBMPlexMono-Regular.woff);
}

.ibm-reg{
  font-family: 'IBMPlexMono-Regular'
}
.ibm-bold{
  font-family: 'IBMPlexMono-Bold'

}
.q-card {
  background: rgba(71, 7, 107, 0.377);
  max-width: 10000px;
}
.q-page{
  font-family: 'IBMPlexMono-Regular'
}
.bg-image {
  background: $color2;
  background-image: url("../statics/img/background.jpg");
}

